.comment{
    width: 100%;
    .textarea{
        width: 100%;
        padding:10px;
        height: 170px;
        background:#fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom:20px;
        textarea{
            width:90%;
            height: 170px;
        }
        &>p{
            width:90%;
            height:70px;
            margin-top: 10px;
            display: flex;
            align-items:center;
            justify-content: space-between;
            button{
                width: 70px;
            }
        }
    }
    &>.ant-comment,.div{
        background:#fff;
        margin:30px 0px;
        padding-left:10px;
    }
}