.editor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &>header{
        width: 100%;
        height:50px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        &>._left{
            padding-left:20px;
            width:50%;
            display: flex;
            box-sizing: border-box;
        }

        &>._right{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right:30px;
            box-sizing: border-box;
        }
    }
    &>section{
        width: 100%;
        flex:1;
        &>div{
            width: 100%;
            height: 100%;
        }
    }

}

._left{
    &>input{
        color: rgb(88, 126, 13);
        margin-left:10px;
        font-size:20px;
        width: 50%;
        border:none;
        outline: none;
        border-bottom:1px solid rgb(6, 153, 153);
    }
    &>button{
        width: 30px;
        background:white;
        border:1px solid rgba(204, 204, 204, 0.322);
    }
    &>button:hover{
        font-weight: bolder;
        color: rgb(6, 153, 153);
        border:2px solid rgb(6, 153, 153);
    }
}

._right{
    &>button{
        margin-right:20px;
        color: white;
        background: rgb(10, 207, 207);
    }
    &>spn{
        margin-right:0px 50px 0px 20px;
        font-size:22px;
    }
}
.ps{
    color: #ccc;
}
:global{
    .ant-drawer-content-wrapper{
        width:40%!important;
    }
}