<template>
    <button @click="startAuth">开始生物识别</button>
</template>

<script>
import { reactive, onMounted } from "@vue/composition-api";
export default {
  setup(props) {
    const data = reactive({
      modes: [],
    });

    // 检测支持的生物识别方式
    onMounted(() => {
      wx.checkIsSupportSoterAuthentication({
        complete: async (res) => {
          let modes = [];
            console.log('res...', res);
          if (res.supportMode && res.supportMode.length) {
            for (let i = 0; i < res.supportMode.length; i++) {
              try {
                let result = await checkIsSoter(res.supportMode[i]);
                modes.push(result);
              } catch (e) {}
            }
            if (modes.length) {
              data.modes = modes;
            } else {
              wx.navigateBack();
            }
            console.log('res...', res, modes);
          } else {
            wx.navigateBack();
          }
        },
      });
    });

    // 校验是否录入生物信息
    function checkIsSoter(mode) {
      return new Promise((resolve, reject) => {
        wx.checkIsSoterEnrolledInDevice({
          checkAuthMode: mode,
          complete: (res) => {
            if (res.isEnrolled) {
              resolve(mode);
            } else {
              reject(res.errMsg);
            }
          },
        });
      });
    }

    function startAuth(){
        wx.startSoterAuthentication({
            requestAuthModes: data.modes,
            challenge: '123456',
            success(res) {
                wx.setStorageSync('auth', {
                    authTime: +new Date()
                })
                wx.navigateBack();
            }
        })
    }

    return {
        startAuth
    };
  },
};
</script>

<style>
</style>