.cate{
    width: 100%;
    height: 100%;
    padding: 24px;
}
.left{
    width: 40%;
    height: 265px;
    background: #ffffff;
    float: left;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}
.right{
    width: 55%;
    height: 140px;
    background: #fff;
    float: right;
}
.left_top{
    width: 100%;
    height: 58px;
    padding: 16px 24px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}
.left_foot{
    flex: 1;
    padding: 24px;
}
.left_foot Input{
    padding: 4px 11px;
    margin-bottom: 22px;
    height: 38px;
}
.left_foot Button{
    height: 32px;
    background: #0188FB;
    color: #fff;
}
.right_top{
    width: 100%;
    height: 58px;
    padding: 16px 24px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}
.right_foot{
    flex: 1;
    padding: 24px;
}
.right_foot ul{
    width: 100%;
    height: 100%;
}
.right_foot ul>li{
    margin: 0px 7px 7px 0px;
    float: left;
    padding: 2px 8px;
    border: 1px solid #ccc;
    color: #8E8787;
    border-radius: 2px;
}