<template>
    <div>
        <p>支付金额：</p>
        <slider
            :value="money"
            min=1
            max=10000
            show-value
            @change="changeMoney"
        ></slider>
        <button @click="payMoney">立即支付</button>
    </div>
</template>

<script>
import {ref} from '@vue/composition-api'
import {pay} from '@/services'

export default {
    setup(){
        const money = ref(1);

        function changeMoney(e){
            money.value = e.detail.value;
        }

        async function payMoney(){
            let result = await pay(money.value);
            if (result.code === 0){
                let {timeStamp, nonceStr, paySign} = result.data;
                wx.requestPayment({
                    timeStamp,
                    nonceStr,
                    package: result.data.package,
                    signType: 'MD5',
                    paySign,
                    success (res) { 
                        wx.showToast({
                            title: '支付成功'
                        })
                    }
                })
            }else{
                wx.showToast({
                    icon: 'none',
                    title: result.msg
                })
            }
        }

        return {
            money,
            changeMoney,
            payMoney
        }
    }
}
</script>

<style>

</style>