.login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &>form{
        margin-top:15%;
        padding:10%;
        width: 70%;
        height:50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;  
        background: rgb(161, 46, 161);
        &>div{
            width: 100%;
            height: 100%;
        }
        &>p{
            width: 100%;
        }
        button{
        width: 50%;
        height: 30px;}
    }
}




