<template>
  <!--  <img src="../../static/home.png" alt="图片丢失" mode="widthFlx"> -->
  <div class="my">
    <!-- 用户信息 -->
    <div class="user">
      <div class="user_left">
        <div class="user_left_img">
          <!-- 获取微信中开放的数据，userAvatarUrl头像 ，userNickName昵称-->
          <open-data type="userAvatarUrl"></open-data>
        </div>
        <div class="user_left_infor">
          <li><open-data type="userNickName" lang="zh_CN"></open-data></li>
          <li>
            <label
              >用户id:<span>{{ userdata.uid }}</span></label
            >
          </li>
        </div>
      </div>
      <div class="user_right">
        <button class="btn">加入推广</button>
      </div>
    </div>
    <!-- 订单操作 -->
    <div class="order">
      <div class="order_top">
        <span>
          <img src="../../static/my/you.png" alt="图片丢失" mode="widthFlx" />
          优惠券 </span
        ><b>|</b>
        <span>
          <img src="../../static/my/chang.png" alt="图片丢失" mode="widthFlx" />
          收藏</span
        >
      </div>
      <div class="order_bottom">
        <div class="order_all">
          <span>订单</span>
          <span class="all_order"
            >全部订单&gt;
            <!--图片  -->
          </span>
        </div>
        <div class="order_list">
          <div class="order_item">
            <p>
              <img
                src="../../static/my/fu.png"
                alt="图片丢失"
                mode="widthFlx"
              />
            </p>
            <p>代付款</p>
          </div>
          <div class="order_item">
            <p>
              <img
                src="../../static/my/fa.png"
                alt="图片丢失"
                mode="widthFlx"
              />
            </p>
            <p>代发货</p>
          </div>
          <div class="order_item">
            <p>
              <img
                src="../../static/my/ke.png"
                alt="图片丢失"
                mode="widthFlx"
              />
            </p>
            <p>可使用</p>
          </div>
          <div class="order_item">
            <p>
              <img
                src="../../static/my/qing.png"
                alt="图片丢失"
                mode="widthFlx"
              />
            </p>
            <p>待评价</p>
          </div>
          <div class="order_item">
            <p>
              <img
                src="../../static/my/hou.png"
                alt="图片丢失"
                mode="widthFlx"
              />
            </p>
            <p>退货/收货</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 优惠卷 -->
    <div class="coupons">
      <div class="coupons_center">
        <div>
          <img src="../../static/my/lng.png" alt="图片丢失" mode="widthFlx" />
        </div>
        <div>
          <h2>领劵中心</h2>
          <p>免费领取优惠卷</p>
        </div>
      </div>
      <div class="coupons_center">
        <div>
          <img src="../../static/my/xin.png" alt="图片丢失" mode="widthFlx" />
        </div>
        <div>
          <h2>美味心选</h2>
          <p>美味旗下官方商城</p>
        </div>
      </div>
    </div>
    <!-- 用户操作 -->
    <div class="user_action">
      <ul class="user_action_list">
        <li class="user_action_item">
          <span
            ><mp-icon icon="add" color="black" size="25px"></mp-icon
            >意见反馈</span
          >
          <span>&gt;</span>
        </li>
        <li class="user_action_item">
          <span>
            <mp-icon icon="add" color="black" size="25px"></mp-icon>设置</span
          >
          <span>&gt;</span>
        </li>
        <li class="user_action_item">
          <span>
            <mp-icon icon="add" color="black" size="25px"></mp-icon>
            联系我们
            <span class="del">400-8166-817</span>
          </span>
          <span>&gt;</span>
        </li>
      </ul>
    </div>
   
  </div>
</template>


 <script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      userid: "",
      dialogShow: false,
      showOneButtonDialog: false,
      oneButton: [{ text: "取消" }],
    };
  },
  computed: {
    ...mapState({
      userdata: (state) => state.my.userdata,
    }),
  },

  mounted() {
    this.userGet();
    
  },
  methods: {
    ...mapMutations({
      update: "my/update",
    }),
    ...mapActions({
      getuserid: "my/userGet",
    }),
    tapDialogButton(e) {
    this.dialogShow = !this.dialogShow;
    this.showOneButtonDialog = !this.showOneButtonDialog;
    console.log(123, this.dialogShow, this.showOneButtonDialog);

  },
  },
};
</script>


<style lang="scss" scoped>
.my {
  padding: 30rpx;
}
.user {
  height: 130rpx;
  display: flex;
  justify-content: space-between;
  .user_left {
    display: flex;
    .user_left_img {
      width: 130rpx;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      justify-content: center;
    }
  }
}
.user .user_left .user_left_infor {
  margin-left: 20rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  label {
    color: #949393;
    span {
      padding-left: 20rpx;
    }
  }
}
.user .user_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .btn {
    width: 150rpx;
    height: 55rpx;
    background: #e8443d;
    color: #fff;
    border-radius: 40rpx;
    text-align: center;
    font-size: 25rpx;
    line-height: 55rpx;
  }
}
.order {
  margin-top: 30rpx;
  border-radius: 20rpx;
  padding: 30rpx;
  box-shadow: #eee 0px 0px 1px 1px;
  .order_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30rpx;
    border-bottom: 1px solid #eee;
    span {
      display: block;
      width: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 55rpx;
        height: 50rpx;
        margin-right: 20rpx;
      }
    }
    b {
      color: #eee;
    }
  }
}
.order .order_bottom {
  padding-top: 15rpx;
  .order_all {
    display: flex;
    justify-content: space-between;
    .all_order {
      color: #999;
      font-size: 25rpx;
    }
  }
  .order_list {
    margin-top: 40rpx;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    p {
      text-align: center;
      font-size: 20rpx;
    }
    img {
      width: 75rpx;
      height: 65rpx;
    }
  }
}
.coupons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .coupons_center {
    width: 47%;
    height: 130rpx;
    border-radius: 20rpx;
    margin-top: 65rpx;
    box-shadow: #eee 0px 0px 1px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 90rpx;
      height: 90rpx;
    }
    p {
      font-size: 20rpx;
      color: #999;
      margin-top: 10rpx;
    }
  }
}
.user_action {
  margin-top: 50rpx;
  .user_action_item {
    height: 90rpx;
    line-height: 90rpx;
    display: flex;
    justify-content: space-between;
    .del {
      padding-left: 20rpx;
      color: #999;
      font-size: 25rpx;
    }
  }
}
</style>
