* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body img {
  opacity: 1;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.aboutcss {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 21px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  height:auto;
  .mainimg {
    width: 100%;
    max-width: 768px;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    img {
      display: inline-block;
      width: 100%;
      height: auto;
      border-radius: var(--border-radius);
    }
  }
  .titheader {
    max-width: 800px;
    padding: 0 8px 21px;
    margin: 0 auto;
  }

}
.titheader>.markdown {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  letter-spacing: 1.2px;
  color: var(--main-text-color);
    .tith2 {
      text-align: center;
      margin: 0 !important;
      border: 0;
      padding-bottom: 12px;
      font-size: 24px;
    }
}

.contentcss{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  height:auto;
  &>.antcomment{
    padding-left:25px;
      margin:10px 0px;
      background: white;
  }
}
.containercss {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  height:auto;
    &>p  {
      margin-bottom: 30px;
      color: var(--main-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: .06em;
    }
  }
  .textarea{
    width:75%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }


