<template>
  <div class="hello">
    <div @click="clickfile">
      <button>+</button>
      <span>{{count}}</span>
      <button>-</button>
    </div>
    <div>
      <input type="text" v-model="content" @keydown="Enterfile">
      <p>未完成</p>
      <p v-for="item in Nottodos" :key="item.id" v-show="Nottodos.length>0">
        <input type="checkbox" :checked="item.flag" @change="e=>changefile(item.id,e.target.checked)">
        <span> {{item.content}}</span> 
        <button @click="delefile(item.id)">删除</button> 
      </p>
      <p>已完成</p>
      <p v-for="item in finishtodos" :key="item.id" v-show="finishtodos.length>0">
        <input type="checkbox" :checked="item.flag" @change="e=>changefile(item.id,e.target.checked)">
        <span> {{item.content}}</span> 
        <button @click="delefile(item.id)">删除</button> 
      </p>
    </div>
    
    
  </div>
</template>

<script>
import {ref,reactive,computed} from 'vue'
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  setup(props,context){
    let count=ref(0)    
    // 数量加加
    function clickfile(e){
      const ele=e.target
      if(ele.innerHTML==='+'){
          count.value=count.value+1;
          console.log(count.value);
      }else if(ele.innerHTML==="-"){
        count.value=count.value-1
      }
    }
  let content=ref('')
  let todos=reactive([])
  function Enterfile(e){
    if(e.keyCode===13){
      todos.push({
        id:+new Date(),
        content:content.value,
        flag:false,
      })
       content.value=""
    }
  }
  function changefile(id,check){
    todos.forEach(item=>{
      if(item.id===id){
        item.flag=check
      }
    })

  }
   function delefile(id){
    // todos=todos.filter(item=>item.id!==id)
    const index=todos.findIndex(item=>item.id==id)
    todos.splice(index,1)
    // console.log('delefile',todos.length);
  }
    let finishtodos=computed(()=>{
        // console.log('finishtodos',todos.length);
    return todos.filter(item=>item.flag)
  })
   let Nottodos=computed(()=>{
    // console.log('Nottodos',todos.length);
    return todos.filter(item=>item.flag===false)
  })
 
    return{
      count,
      clickfile,
      content,
      todos,
      Enterfile,
      changefile,
      finishtodos,
      Nottodos,
      delefile
    }
  }



}
</script>

<style scoped lang='scss'>

</style>
