<template>
  <div id="worldMap">
    
    
  </div>
</template>

<script>
import {ref,reactive,computed, onMounted} from 'vue'
import * as echarts from 'echarts'
import world from '../../public/assets/world'
const pinyin=require('pinyin')
echarts.registerMap('world',world)
export default {
  name: 'mapWorld',
  props: {
    msg: String
  },
  setup(props,context){
    const chart=ref()
    let cityIdMap=({})
    onMounted(()=>{
      // 1初始化
      chart.value=echarts.init(document.querySelector('#worldMap'))
      // 渲染
        renderMap()
      // 点击事件做地图穿透
      chart.value.on('click',function (map){
        console.log('arguments',arguments);
        console.log(map);
        // 美国
        if(map.name=='United States'){
          map.name="USA"
        }

        if(map.seriesName==='world'){
            fetch(`/assets/world/geojson/${map.name}.json`)
            .then((res)=>res.json())
            .then((res)=>{
              echarts.registerMap(map.name,res)
              renderMap(map.name)
            })
        }else if(map.seriesName==='China'){
          // let province=getPYName(map.name)
          // fetch(`/assets/china-province/geojson/${province}.json`)
          // .then(res=>res.json())
          // .then(res=>{
          //   console.log(res);
          //   let obj={}
          //   res.features.forEach(item=>{
          //      obj[item.properties.name] = item.id;
          //   })
          // })
          let province = getPYName(map.name);
          console.log('province...', province);
          // 获取对应省份的地图
          fetch(`/assets/china-province/geojson/${province}.json`)
            .then((res) => res.json())
            .then((res) => {
              console.log('res...', res);
              let obj = {};
              res.features.forEach(item=>{
                obj[item.properties.name] = item.id;
              })
              cityIDMap = obj;
              // 注册对应国家的地图
              echarts.registerMap(province, res);
              renderMap(province);
            });

        }else{
          let id = cityIDMap[map.name];
          console.log('cityIDMap', cityIDMap, id);
          if (id){
             // 获取对应城市的地图
            fetch(`/assets/china-city/geojson/${id}.json`)
            .then((res) => res.json())
            .then((res) => {
              // 注册对应国家的地图
              echarts.registerMap(id, res);
              renderMap(id);
            }).catch(e=>{
              // 回到世界地图
              renderMap('world')
            });
          }else{
            // 回到世界地图
            renderMap('world')
          }
        }

      })
    })
  


  // 将省份转化成拼音
  function getPYName(province){
    return pinyin(province,{
        style: pinyin.STYLE_NORMAL,
        segment: false
    }).json('')
  }
   // 随机生成0-500 value
    function randomData() {
      return Math.round(Math.random() * 1100);
    }
    function renderMap(mapType = "world") {
      const mydata = [
        { name: "China", value: "200" },
        { name: "United States", value: randomData() },
        { name: "Russia", value: randomData() },
        { name: "Canada", value: randomData() },
        { name: "Australia", value: randomData() },
        { name: "India", value: randomData() },
        { name: "Japan", value: randomData() },
        { name: "Korea", value: randomData() },
        { name: "France", value: randomData() },
        { name: "Argentina", value: randomData() },
        { name: "Brazil", value: randomData() },
        { name: "Italy", value: randomData() },
        { name: "United Kingdom", value: randomData() },
        { name: "山东", value: randomData() },
        { name: "山西", value: randomData() },
        { name: "河南", value: randomData() },
        { name: "河北", value: randomData() },
        { name: "辽宁", value: randomData() },
        { name: "黑龙江", value: randomData() },
        { name: "吉林", value: randomData() },
        { name: "内蒙古", value: randomData() },
        { name: "天津", value: randomData() },
        { name: "陕西", value: randomData() },
        { name: "甘肃", value: randomData() },
        { name: "青海", value: randomData() },
        { name: "四川", value: randomData() },
        { name: "新疆", value: randomData() },
        { name: "西藏", value: randomData() },
        { name: "宁夏", value: randomData() },
        { name: "湖南", value: randomData() },
        { name: "湖北", value: randomData() },
        { name: "江西", value: randomData() },
        { name: "安徽", value: randomData() },
        { name: "江苏", value: randomData() },
        { name: "浙江", value: randomData() },
        { name: "上海", value: randomData() },
        { name: "福建", value: randomData() },
        { name: "广东", value: randomData() },
        { name: "广西", value: randomData() },
        { name: "海南", value: randomData() },
        { name: "台湾", value: randomData() },
        { name: "云南", value: randomData() },
        { name: "贵州", value: randomData() },
        { name: "香港", value: randomData() },
        { name: "重庆", value: randomData() },
        { name: "北京", value: randomData() },
      ];
      // 2. 配置option
      const option = {
        //左侧小导航图标
        visualMap: {
          show: true,
          x: "left",
          y: "center",
          splitList: [
            { start: 1000, end: 1200 },
            { start: 800, end: 1000 },
            { start: 600, end: 800 },
            { start: 400, end: 600 },
            { start: 200, end: 400 },
            { start: 0, end: 200 },
          ],
          color: [
            "#5475f5",
            "#9feaa5",
            "#85daef",
            "#74e2ca",
            "#e6ac53",
            "#9fb5ea",
          ],
        },
        series: [
          {
            name: mapType,
            label: {
              normal: {
                show: true, //显示国家，省份，或城市
              },
              emphasis: {
                show: false,
              },
            },
            type: "map",
            mapType: mapType,
            data: mydata,
          },
        ],
      };
      // 3. 更新echart
      chart.value.setOption(option);
    }
  
  
  }



}
</script>

<style scoped>
#worldMap{
  width: 100%;
  height: 100%;
}
</style>
