.index{
    width: 100%;
    height: 100%;
}
.main{
    width: 96%;
    background: #fff;
    height: 168px;
    margin: 25px 25px 15px 25px;
    padding: 24px 12px;
    
    // padding: ;
}
.footer{
    width: 96%;
    margin: 0 25px;
    height: auto;
    background: #fff;
    padding: 24px 12px;
}