.index{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .head{
        width: 100%;
        height: 160px;
        padding: 36px 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        .topT{
            display: flex;
            flex-wrap: wrap;
        }
        .topB{
            display: flex;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
        }
    }
    .main{
        margin-top: 20px;
        padding: 20px;
        width: 100%;
        flex: 1;
        background-color: #fff;
    }
}