<script>
import {mapActions} from 'vuex'
	export default {
		methods:{
			...mapActions({
				userLogin:'my/userGet',
				signList:'sign/getSignList'
			})
		},
		onLaunch: function () {
			// 微信登录
			wx.login({
				success: (res)=> {
					if (res.code) {
					//发起网络请求
					this.userLogin(res.code);
					this.signList();

					} else {
						wx.showToast('获取code失败')
					}
				}
			})
		},
		
	}
</script>

<style>
	/*每个页面公共css */
</style>
