.home{
    width: 100%;
    height: 100%;
    background: #E2F5E7;
    float: left;
}
.detail{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    background: #E2F5E7;
}
.left{
    width: 60%;
    height: 100%;
    float: left;
}
.right{
    width: 35%;
    height: 100%;
    float: right;
}
.content{
    width: 100%;
    height: 100%;
    background: #fff;
}
.content img{
    width: 94%;
    height: 300px;
    margin: 20px 3%;
}
.cont{
    width: 100%;
    text-align: center;
}
.conter {
    width: 100%;
    text-align: center;
    margin: 5px;
}
.cont button{
    border: none;
    background: red;
    color: #fff;
    width: 80px;
    height: 30px;
}
.foot{
    width: 94%;
    margin: 20px 3% 0 3%;
}
.foot p{
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin: 10px 0;
}
.right_content{
    width: 100%;
    height: 100%;
    background: #fff;
}
.right_content li{
    width: 100%;
    height: 190px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.right_content h3{
    margin-top: 10px;
    width: 100%;
    float: left;
    margin-left: 10px;
}
.right_content img{
    width: 190px;
    height: 125px;
    float: left;
    margin: 10px;
}
.right_content .summ{
    margin-top: 60px;
}
.sj{
    font-weight: normal;
    color: #999999;
    font-size: 14px;
}
.fencha{
    color: #cccccc;
}

