.file_id {
  width: 100%;
  height: 100%;
  background-color: #e7eaee;
}

.content {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 
}

.file_id_left {
  width: 65%;
  height: 100%;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
}

.file_id_right {
  width: 28%;
  height: 100%;
  overflow: hidden;
  margin-top: 20px;
  margin-right: 27px;
  
}

.right_top_tit {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}

.right_top_tit>h3 {
  margin-left: 10px;
}

.right_top {
  margin: 0 auto;
  background-color: #ffffff;
}

.item_top {
  margin-left: 20px;
}

.right_bottom {
  margin: 20px auto;
  width: 100%;
  background-color: #ffffff;
}
