.file {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #e7eaee;
  position: relative;
}
.content{
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
 
}
.left {
  width: 65%;
  height: 100%;
  background-color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;

} 
.left>ul {
  margin-left: 50px;
}
.left_top {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: .5px solid #ccc;
}
.left_top>h3 {
  color: #ff0064;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.left_top>p {
  font-size: 20px;
}
.left_top>p>span {
  color: #ff0064;
}

.right {
  width: 28%;
  height: 100%;
  overflow: hidden;
  margin-top: 20px;
  margin-right: 27px;
  
}

.right_top {
  width: 100%;
  line-height: 50px;
  background-color: #ffffff;
}

.right_top_tit {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
 
}
.right_top_tit>h3{
  width: 100%;
  height:50px;
  line-height:50px;

  
}
.right_top_body {
  margin-left: 10px;

}

.right_botten {
  width: 100%;
  line-height: 20px;
  background-color: #ffffff;
  margin-top: 30px;
}

.right_bottom_tex {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: .5px solid #ccc;
}
.right_bottom_tex>h3{
  width: 100%;
  height:50px;
  line-height:50px;
}
.right_bottom_body {
  margin-left: 15px;
}
.file_name{
  margin-top: 30px;
}
.item_text {
  display: flex;
  justify-content: space-between;

  span {
 margin-left: 10px;
  }

  P {
 margin-right: 25px;
  }
}

.h2s {
  margin-left: 20px;
}

.item_text:hover {
  color: #ff0064;
}

.item_top:hover {
  color: #ff0064;
}

.body_san {
  font-size: 20px;
  margin-left: 60px;
  margin-top: 20px;

}
.spans{
  font-weight: bold;
  margin-left: 10px;
}

.body_san:hover {
  color: #ff0064;
}
