<template>
  <div>
    <div class="wrap">
      <div class="top" mode="widthFix">
        <input type="text" placeholder="输入城市名称" />
      </div>
      <p>定位</p>
      <p class="ad"><span>北京</span></p>
      <p>热门城市</p>
      <div class="hot">
        <span v-for="item in citylist.hot" :key="item.id">  {{item.name}} </span>
      </div>

      <div v-for="(val ,key ,i) in  citylist.list" :key="i" class="city">
        <p>{{key}} </p>
        <div>
          <span v-for="item in val" :key="item.id">{{item.name}}  </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  computed: {
    ...mapState({
      citylist: (state) => state.address.citylist,
    }),
  },
  methods: {
    ...mapActions({
      getcity: "address/getcity",
    }),
  },
  created() {
    this.getcity();
  },
};
</script>

<style lang="scss" scoped>
.wrap{
  width: 92%;
  margin:0% 4%;
}
.top {
  width: 100%;
  display: flex;
  justify-content: center;
  input {
    width: 90%;
    height: 80rpx;
    background: rgb(241, 241, 241);
    border-radius: 50rpx;
    padding-left: 20rpx;
  }
}
.wrap>p{
  width: 100%;
  height: 70rpx;
  background:rgb(250,250,250);
  display: flex;
  align-items: center;
  margin:10rpx 0rpx;
  padding-left:30rpx;
}
.wrap>.ad{
  height: 200rpx;
  background: white;
  span{
    background:rgb(240, 240,240);
    padding:25rpx 50rpx;
  }
}
.hot{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  span{
    padding:25rpx 50rpx;
    background:rgb(240, 240,240);
    margin:10rpx 25rpx;
  }
}
.city{
  width: 100%;
  &>p{
    height: 70rpx;
    background:rgb(250,250,250);
  }
  &>div{
    width: 100%;
    span{
      display:inline-block;
      width: 100%;
      height: 70rpx;
      border-bottom:1px solid rba(255,255,255);
    }
  }
}

</style>