.header{
    height:70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 0px;
    background: #fff;
    border-bottom:1px solid rgba(204, 204, 204, 0.349);
    p{
        display: flex;
        align-items:center;
        justify-content: flex-end;
        height: 100%;
        width:80%;
        // border-bottom: 1px solid #ccc;
        margin-bottom: 0;
        .right_tubiao{
            width: 24px;
            height: 24px;
            float: left;
            margin-top: 13px;
        }
        .right_tubiao svg{
            width: 24px;
            height: 24px;
        }
        .right_yuan{
            width: 24px;
            height: 24px;
            line-height: 24px;
            border-radius: 50%;
            background: rgb(203,203,203);
            float: left;
            text-align: center;
            line-height: 24px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
        .right_yhm{
            // width: 60px;
            height: 24px;
            float: left;
            margin-top: 13px;
            margin-left: 10px;
        }
        .right_name{
            float: left;
            height: 100%;
            margin-left: 5px;
            text-align: center;
            width: 80px;
            font-size: 17px;
        }

    }    
}

.Breadcrumb{
    width: 100%;
    padding:15px;
    background: #fff;
    span{
        font-size:18px;
        color:#ccc;
    }
}