<template>
    <div>
        <p class="bg">
            <span>北京</span>|
            <input type="text" placeholder="面试地址">
            </p>
    </div>
</template>
<script>
export default {
    setup() {
        
    },
}
</script>
<style lang="scss" scoped>
.bg{
    width: 100%;
    height: 40px;
    line-height: 40px;
    // padding: 0 20px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.bg span{
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
}
.bg input{
    width: 78%;
    float: right;
    height: 40px;
    line-height: 40px;

}

</style>
