<template>
  <div class="whole">
      <div class="picture"></div>
    <img src="../../public/1.png" alt="" class="right" mode="widthFix" @click="junpmy">
    <img src="../../public/2.png" alt="" class="left" mode="widthFix">
    <img src="../../public/3.png" alt="" class="top" mode="widthFix">
    <footer class="footer" @click="message">添加面试</footer>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";

export default {
  data() {
    return {
    
    };
  },
  components: {
    
  },

  computed: {
    ...mapState({
     
    }),
  },
 
 
  methods: {
   
    message(){
        wx.navigateTo({
            url: '/pages/message'})
    },

    junpmy(){
        wx.navigateTo({
            url: '/pages/user'})
        }
    }
  

 
};
</script>

<style lang="scss" scoped>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,.whole{
    width: 100%;
    height: 100%;
}
.whole{
    position: relative;
    width: 100%;
    height:1205rpx;
    display: flex;
    flex-direction: column;
    img{
        width:100rpx;
    }
}

.right{
    position: absolute;
    bottom:200rpx;
    right:0rpx;
}
.left{
    position: absolute;
    bottom:200rpx;
    left:0rpx;
}
.top{
    position: absolute;
    top:200rpx;
    right:0rpx;
}
.picture{
    width: 100%;
    flex: 1;
    background: burlywood;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:150rpx;
    background: rgb(49, 47, 47);
    color: white;
    font-size:50rpx;
}

</style>