<template>
  <div>
      <p class="title"> <b>面试信息</b> </p>
      <p> <span>公司名称</span><input type="text"  placeholder="请输入公司名称" placeholder-style:true></p>
      <p> <span>公司电话</span><input type="text"  placeholder="请输入公司电话" placeholder-style:true></p>
      <p> <span>公司时间</span><input type="text"  placeholder="请输入公司时间" placeholder-style:true></p>
      <p> <span>公司地址</span><input @click="goaddress" type="text"  placeholder="请输入公司地址" placeholder-style:true></p>
      <p class="title"><b>备注信息</b></p>
      <textarea auto-height:true bindinput="textinput">
          <text></text>
      </textarea>
      <button>确认</button>
  </div>
</template>

<script>
export default {
methods:{
    goaddress(){
        wx.navigateTo({
            url: '/pages/address'})
    },
}
}
</script>

<style lang="scss" scoped>
p{
    width: 100%;
    height: 100rpx;
    border-bottom:1px solid #000;
    display: flex;
    align-items: center;
    span{
        margin-right:40rpx;
    }
}
.title{
    background: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    font-size:50rpx;
    font-weight:600;
}
textarea{
    width:90%;
    margin:50rpx;
    border:1px solid #000;
}
button{
    width: 100%;
    color: white;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>