<template>
  <div>
      <div class="top">
          <img src="../../public/1.png" alt=""  mode="widthFix">
      </div>
      <p>我的面试 <span>></span></p>
      <p>客服中心 <span>></span></p>
      <p>支持项目 <span>></span></p>
  </div>
</template>

<script>
export default {

}
</script>

<style lang='scss' scoped>
.top{
    width: 100%;
    height: 300rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(223, 221, 221);
    img{
        width: 100rpx;
    }
}
p{
    width: 100%;
    height:150rpx;
    border-bottom:1px solid rgb(231, 230, 230);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:10rpx;
    box-sizing: border-box;
}
</style>