
// 局部样式，常用于业务内部使用，防止全局污染

.Home{
  width: 70%;
  height: 100%;
  margin: 0 15%;

  }
 
   .lid{
     width: 100%;
     height: 150px;
     background: skyblue;
     border-bottom: 1px solid #000;
   }
   .lid img{
     height: 100px;
     width: 300px;
     float: left;
   }
// 默认是局部样式
.title {
background: rgb(121, 242, 157);
}

.page{
  // composes: title;
  color: red;
}
