.mborad{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#e7eaee;
    
}
.container{
    margin-top:10px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
}
.wrap{
    padding-top:10px;
    width: 60%;
    // height:3000px;
    &>p{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:20px;
    }
}

textarea   .ant-popover-inner-content {
    padding: 12px 16px;
    color: #000;
    .SO1DW6R4gpGKoWYBL5g62 {
        display: flex;
        flex-wrap: wrap;
        max-width: 480px;
        height: 240px;
        overflow: auto;
    }
    ul {
        list-style: none;
        margin: 0;
    }
}


.ant-modal-body{
    width: 520px;
    height: 183px;
    &>p{
        width: 100%;
        height: 50%;
        input{
            width: 70%;
        }
    }
}
.ant-pagination{
    width: 100%;
    height:30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    margin-top:20px;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article{
    padding-left:10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
