* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;

}

.mailcss {
  width: 100%;
  height: 100%;

}

.legacy{
  // margin-top: 1.2%;
  width: 100%;
height: 100%;
  // background-color: white;
  // color: rgba(0,0,0,.85);
  // font-size: 14px;
  // font-variant: tabular-nums;
  // line-height: 1.5715;
  // list-style: none;
  // font-feature-settings: "tnum";
  // padding: 24px 12px;
  display: flex;
  position: relative;
}
.call{
padding-left: 3%;
  display: flex;
  input{
    width: 160%;
  }
}
.email{
  padding-left: 12%;
  display: flex;
  input{
    width: 160%;
  }
}
.states{
  padding-left: 12%;
  display: flex;
  .stateless{
    width: 180px
  }
}
.btncss{
  
  position: absolute;
  right: 0.5%;
  bottom: 4%;
  .searchcss{
    background-color: #0188fb;
    color: white;
  }
  .resetcss{
    margin-left: 5px;
  }
}