:global{
    *{
        list-style: none;
        padding: 0;
        margin: 0;
    }
   
};
@media (max-width: 768px) {
  .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      height: 100%;
  }
}

@media (min-width: 768px) {
  .container {
      width:768px;
      height: 100%;
  }
}

@media (min-width: 992px) {
  .container {
      width:970px;
      height: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
      width:1140px;
      height: 100%;
  }
}

.home{
  width: 100%;
  height: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
}

.Index{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
  .footer{
    width: 100%;
    height: 100px;
    background: #292525;
    margin-top: 20px;
    color: #C1BDBD;
    float: left;
  }
  .footer span{
      width: 100%;
      float: left;
      height: 20px;
      text-align: center;
  }
  .footer .span{
    width: 100%;
    float: left;
    height: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .span svg{
      width: 24px;
      height: 24px;
      margin: 5px;
  }
  .header{
    width: 1140px;
    line-height: 66px;
    text-align: center;
    margin: 0 auto;
    display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: wrap;
      background: #fff;
  }
  .header img{
    height: 36px;
    width: 100px;

  }
   .header a{
      font-size: 20px;
      margin: 0px 30px;
   }
   .header h6{
     font-size: 20px;
     margin: 0 10px;
     float: left;
   }
   .active{
    color: red;
  }

  .head{
    width: 100%;
    height: 100%;
    background: #fff;
  }