<template>
    <div class="search_wrap">
            <view class="header">
                <span class="picker">
                    <picker mode="region" @change="changeRegion">
                        <span>{{region[1]||"北京"}}</span>
                    </picker>
                </span>         
                <input type="text" placeholder="面试地址" v-model="address"/>
            </view>
            <ul class="list">
                <li v-for='item in suggestions' :key="item.id" @click="pickAddress(item)">
                     <div class="icon_box"></div>
                     <p class="info_wrap">
                         <span class="title">{{item.title}}</span>
                         <span class="address">{{item.address}}</span>
                     </p>
                </li>
            </ul>
    </div>
</template>
<script>
import {reactive,toRefs,ref,onMounted, watch} from '@vue/composition-api';
import QQMapWX from '@/utils/qqmap-wx-jssdk.js';
import {throttle} from '@/utils/index.js';
const key = 'F2EBZ-SG7E2-VGVUV-CX3EX-7UYFT-GZBT3';
export default {
    setup(props,{root}){
        const {$store} = root;
        const address = ref('');
        const info = reactive({
            region: [],
            suggestions: []
        });
        //实例化 QQMapWX
        const qqmapsdk = new QQMapWX({
            key,
        })
        function getSuggestion(val){
            if(!address){
                return 
            }
            //调用关键词提示接口
            qqmapsdk.getSuggestion({
                //获取输入框值并设置keyword参数
                keyword: val, //用户输入的关键词，可设置固定值,如keyword:'KFC'
                region:info.region[1]||"北京", //设置城市名，限制关键词所示的地域范围，非必填参数
                success: function(res) {//搜索成功后的回调
                    console.log('res....',res);
                    info.suggestions = res.data;
                },
            });
        }
        const wraGetSuggestion = throttle(getSuggestion);
        watch(address,(val)=>{
           wraGetSuggestion(val)
        })
        function changeRegion(e){
            info.region = e.target.value;
        }
        //选择渲染出来的地址 
        function pickAddress(info){
            //将点击的数据保存到vuex中
            $store.dispatch('sign/getAddressInfo',info);
            //返回到添加面试页面
            wx.navigateBack();
        }
        return {
            ...toRefs(info),
            address,
            changeRegion,
            pickAddress
        }
    }
}
</script>
<style scoped lang='scss'>
    .search_wrap{
        width: 100vw;
        height: 100vh;
    }
    .header{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
    }
    .header .picker{
        display: inline-block;
        height: 30px;
        width: 20%;
        text-align: center;
        line-height: 30px;
        border-right: 1px solid #eee;
    }
    .header input{
        flex: 1;
        padding-left: 1em;
        box-sizing:border-box;
    }
    .list{
        width: 100%;
    }
    .list li{
        width: 100%;
        height: 50px;
        display: flex;
        border-bottom: 1px solid #eee;
        align-items: center;
    }
    .list li .icon_box{
        width: 70px;
        height: 40px;
        padding-left: 20px;
        padding-right: 10px;
        box-sizing: border-box;
        img{
            width: 40px;
            height: 40px;
        }
    }
    .list li p{
         flex: 1;
    }
    .info_wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .address{
        font-size: 12px;
        color:rgb(192,192,192)
    }
</style>