<template>
    <div>
        <header>
            <span class="" v-for="item in types" :key="item">{{item}}</span>
        </header>
        <ul>
            <li class="lis" @click="goDetail(item.id)" v-for="item in signList" :key="item.id">
                <p class="p1">{{item.address.title}}</p>
                 <p class="p2">{{item.address.address}}</p>
                <p class="p3">
                    面试时间：{{item.start_time | formatTime}}
                </p>
               
            </li>
        </ul>
    </div>
</template>

<script>
import { watch, ref, computed} from '@vue/composition-api'
export default {
    setup(props, {root}){
        const {$store} = root;
        const types = ['未开始', '已打卡', '已放弃', '全部'];
        const active = ref(3);
        const page = ref(1);

        watch([active, page], ()=>{
            let payload = {page: page.value};
            if (active.value !== 3){
                payload.status = active.value - 1;
            }
            $store.dispatch('sign/getSignList', payload);
        }, {immediate: true})

        const signList = computed(()=>$store.state.sign.signList.map(item=>{
            return {...item, address: JSON.parse(item.address)}
        }));

        function goDetail(id){
            wx.navigateTo({url: '/pages/sign/detail?id='+id})
        }
        
        return {
            signList,
            types,
            active,
            goDetail
        }
    }
}
</script>

<style>
header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 7px solid rgb(238,238,238);
}
.lis{
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-bottom: 6px;
}
.p1{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}
.p2{
    width: 100%;
    margin: 6px 0px;
    color: rgb(163,163,163);
}
.p3{
    color: rgb(102,102,102);
}
</style>
