<template>
  <div>
<<<<<<< HEAD
     <!-- <swiper autoplay>
            <swiper-item v-for="item in banners" :key="item.id">
                <img :src="item.picUrl" alt="" mode="widthFix">
            </swiper-item>    
        </swiper>  
    <scroll-view scroll-x=true>
                <ul class="operate-list">
                    <li v-for="item in BrandTags" :key="item.id">
                       <span>{{item.name}}</span>
                </li>
            </ul>
        </scroll-view>
        <div>
                <template v-for="(item, index) in BrandItem">
                    <rank v-if="item.type === 1" :key="index" :data="item.data"/>
                    <ad v-else-if="item.type === 3" :key="index" :data="item.data"/>
                    <goods v-else-if="item.type === 4" :key="index" :data="item.data"/>
                    <shop v-else :key="index" :data="item.data"/>
                </template>
              
            </div> -->
=======
    <swiper autoplay>
      <swiper-item v-for="item in BrandBanners" :key="item.id">
        <img :src="item.img" alt="" />
      </swiper-item>
    </swiper>
    <scroll-view scroll-x="true" class="navlist">
      <ul class="nav-list">
        <li v-for="item in navlist" :key="item.id">
          <img :src="item.img" alt="" mode="widthFix" />
          <span>{{ item.title }}</span>
        </li>
      </ul>
    </scroll-view>
    <div class="goods">
      <scroll-view scroll-x="true">
        <p>新品推荐</p>
        <ul class="brandGoods-list">
          <li v-for="item in brandGoods" :key="item.id">
            <img :src="item.thumb" alt="" mode="widthFix" />
            <span>{{ item.title }}</span>
            <p>
              <span> {{ item.ncon }} </span><span> {{ item.saled }} </span>
            </p>
            <p>
              <span>￥ {{ item.show_price }} </span>
              <span>￥ {{ item.oldprice }} </span>
            </p>
          </li>
        </ul>
      </scroll-view>
      <!-- <scroll-view scroll-x=true>
        <p>新品推荐</p>
                <ul class="brandGoods-list">
                    <li v-for="item in brandGoods" :key="item.id">
                        <img :src="item.thumb" alt="" mode="widthFix">
                       <span>{{item.title}}</span>
                       <p> <span> {{item.ncon}} </span><span> {{item.saled}} </span></p>
                       <p>  <span>￥ {{item.show_price}} </span> <span>￥ {{item.oldprice}} </span> </p>
                    </li>
            </ul>
    </scroll-view> -->
    </div>

    <scroll-view scroll-x="true">
      <ul class="operate-list">
        <li v-for="item in BrandTags" :key="item.id">
          <span>{{ item.name }}</span>
        </li>
      </ul>
    </scroll-view>
    <div>
      <!-- <div class="left">
               <div v-for="item in left" :key="item.id" >
                    <rank v-if="item.type === 1"  :data="item.data"/>
                    <ad v-else-if="item.type === 3"  :data="item.data"/>
                    <goods v-else-if="item.type === 4"  :data="item.data"/>
                    <shop v-else  :data="item.data"/>
                </div> 
            </div>
            <div class="right">
                <div v-for="item in right" :key="item.id">
                <rank v-if="item.type === 1"  :data="item.data"/>
                <ad v-else-if="item.type === 3"  :data="item.data"/>
                <goods v-else-if="item.type === 4"  :data="item.data"/>
                <shop v-else  :data="item.data"/>
            </div> -->
      <div class="right">
        <div v-for="item in BrandItem" :key="item.id">
          <rank v-if="item.type === 1" :data="item.data" />
          <ad v-else-if="item.type === 3" :data="item.data" />
          <goods v-else-if="item.type === 4" :data="item.data" />
          <shop v-else :data="item.data" />
        </div>
      </div>
    </div>
>>>>>>> d3cccabf7ca7d68f3cae41b9fe7322e98dcc7e51
  </div>
</template>

<script>
<<<<<<< HEAD
// import { mapActions, mapState } from 'vuex'
// import ad from '@/components/ad'
// import goods from '@/components/goods'
// import rank from '@/components/rank'
// import shop from '@/components/shop'
// export default {
//         components: {
//         ad,goods,rank,shop
//     },
//     computed: {
//         ...mapState({
//             banners: state=>state.index.banners,
//             BrandTags:state=>state.brand.BrandTags,
//             BrandItem:state=>state.brand.BrandItem,
//         })
//     },
//     methods: {
//         ...mapActions({
//             getBanner: 'index/getBanner',
//             getBrandTags:'brand/getBrandTags',
//             getBrandItem:'brand/getBrandItem',
//         }),
//     },
//     created(){
//         this.getBanner();
//         this.getBrandTags();
//         this.getBrandItem();
//     }
// }
</script>

<style lang="scss" scoped>
// swiper{
//     width: 100%;
//     height: 225rpx;
//     // margin: 5%;
//     // border-radius: 5px;
//     overflow: hidden;
//     img{
//         width: 100%;
//     }
// }
// .operate-list{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-wrap: nowrap;
//     li{
//         flex-shrink: 0;
//         margin: 30rpx;
//     }
// }
=======
import { mapActions, mapState } from "vuex";
import ad from "@/components/ad";
import goods from "@/components/goods";
import rank from "@/components/rank";
import shop from "@/components/shop";
export default {
  components: {
    ad,
    goods,
    rank,
    shop,
  },
  data() {
    return {
      currentTab: -1,
      left: [],
      right: [],
    };
  },
  computed: {
    ...mapState({
      banners: (state) => state.index.banners,
      BrandTags: (state) => state.brand.BrandTags,
      BrandItem: (state) => state.brand.BrandItem,
      allArr: (state) => state.brand.allArr,
      BrandBanners: (state) => state.brand.BrandBanners,
      navlist: (state) => state.brand.navlist,
      brandGoods: (state) => state.brand.brandGoods,
      brandGoods2: (state) => state.brand.brandGoods2,
    }),
  },
  watch: {
    currentTab: {
      async handler(value) {
        console.log(this.pageTabs);
        // if (this.pageTabs.length) {
        //   // 改变tabId
        //   this.update({
        //     shopQuery: { ...this.shopQuery, tabId: this.pageTabs[value].id },
        //   });
        //   // 重新获取店铺列表
        //   await this.getBrandItem();
        // //   this.left = this.shops;
        // //   console.log("当前选择的tab...", value);
        //   this.insertShop()
        // }
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions({
      getBanner: "index/getBanner",
      getBrandTags: "brand/getBrandTags",
      getBrandItem: "brand/getBrandItem",
      getAll: "brand/getAll",
    }),
    async insertShop() {
      let pagecount = this.left.length + this.right.length;
      console.log(this.BrandItem);
      for (let i = pagecount; i < this.BrandItem.length; i++) {
        await new Promise((resolve, reject) => {
          this.$nextTick(async () => {
            let container = await this.getMinHeightContainer();
            this[container].push(this.BrandItem[i]);
            resolve();
          });
        });
      }
    },
    getMinHeightContainer() {
      return new Promise((resolve) => {
        wx.createSelectorQuery()
          .select(".left")
          .boundingClientRect(function (rect) {
            let leftHeight = rect.height;
            wx.createSelectorQuery()
              .select(".right")
              .boundingClientRect(function (rect) {
                let rightHeight = rect.height;
                if (leftHeight > rightHeight) {
                  resolve("right");
                } else {
                  resolve("left");
                }
              })
              .exec();
          })
          .exec();
      });
    },
  },
  created() {
    this.getBanner();
    this.getBrandTags();
    this.getBrandItem();
    this.getAll();
  },
};
</script>

<style lang="scss" scoped>

swiper {
  position: relative;
  width: 100%;
  height: 300rpx;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 100rpx;
  img {
    width: 97%;
    height: 100%;
  }
}
.operate-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  li {
    flex-shrink: 0;
    margin: 30rpx;
  }
}
.navlist {
  position: absolute;
  left: 19rpx;
  top: 220rpx;
  width: 93%;
  overflow: hidden;
  background: white;
  border-radius: 30rpx;
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 170rpx;
    li {
      flex-shrink: 0;
      margin: 30rpx;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      img {
        width: 70%;
      }
    }
  }
}
.goods{
    width: 100%;
    margin:5%;
    background: rgb(240, 238, 238);
    display:flex;
    align-items: center;
    flex-direction: column;
    &>scroll-view{
        width: 93%;
        overflow: hidden;
        background: white;
        border-radius: 30rpx;
    }
}
.brandGoods-list {
  display: flex;
  align-items: center;
  li {
    width: 50%;
    height: 300rpx;
  }
}
>>>>>>> d3cccabf7ca7d68f3cae41b9fe7322e98dcc7e51
</style>