.knowledgea {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 58px;
  background: #fff;
  position: relative;

  &>form {
    width: 100%;
    display: flex;
  }
}

.buttons {
  position: absolute;
  bottom: 0;
  right: 0;

  &>button {
    margin-left: 8px;
  }
}

.main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;

}

.main_box {
  width: 100%;
  height: 50px;

  &>button {
    width: 100px;
    height: 40px;
    background-color: royalblue;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  &>div {
    margin-left: 15px;
    margin-top: 10px;
    width: 300px;
    height: 290px;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    // border: 1px solid #ccc;

    &>img {
      width: 100%;
      height: 200px;
      margin: 0 auto;
    }
  }
}

.box_ext {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 50px;
  border: 1px solid #000;
  &>span {
    width: 100px; 
    height: 50px;
    text-align: center;
    border-left: 1px solid #000;
  }
}

.box_ext:hover {
  cursor: pointer
}
:global{
  .ant-drawer-content-wrapper{
    width: 500px!important;
  }
}