.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 30%;
  position: relative;
  background: #fff;

  &>form {
    width: 100%;
    display: flex;
    padding-left: 30px;
  }
}

.buttons {
  position: absolute;
  bottom: 0;
  right: 0;

  &>button {
    margin-left: 8px;
  }
}

.pass {
  width: 200px;
}

.main {
  margin-top: 20px;

}

.san {
  width: 100%;
  height: 50px;
  position: relative;

}

.tops {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: royalblue;
  position: absolute;
  bottom: 0;
  right: 0;

  &>span {
    color: #fff;
  }
}

.tops:hover {
  cursor: pointer
}

.mains {
  margin-top: 20px;
}
