<template>
    <div class="goods">
        <div>
            <img :src="data.thumb" alt="" mode="widthFix"/>
            <p>
                <span>{{data.minOne.shopName}}</span>
                <span>{{data.minOne.distance | getDistance}}</span>
            </p>
        </div>
        <p class="title">{{data.title}}</p>
        <p class="price">
            <span>¥{{data.price}}</span>
            <span>¥{{data.AvgPrice}}</span>
            <span>已售{{data.saled}}</span>
        </p>
        <p>
            <span>{{data.sort_list[0]}}</span>
        </p>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Object,
            default: ()=>{}
        }
    }
}
</script>

<style lang="scss" scoped>
.goods {
    border: 1px solid #c0c0c0;
    width: 99%;
    border-radius: 20rpx;
    overflow: hidden;
    margin:20rpx 0rpx;
    .img{
        position: relative;
        p{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0,0,0,.6);
            display: flex;
            align-items: center;
            justify-content:space-between;
            color: #fff;
            padding:6rpx 0;
            font-size: 24rpx;
            span:first-child{
                flex: 1;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
        }
    }
    img{
        width: 100%;
    }
    .title{
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        span:first-child{
            color: #db4e3a;
            font-size: 28rpx;
            font-weight: 500;
        }
        span:nth-child(2){
            flex: 1;
            color: #b4b4b4;
            font-size: 26rpx;
            text-decoration: line-through;
        }
        span:last-child{
            color: #b6b5b5;
            font-size: 22rpx;
        }
    }
    p{
        margin:20rpx 0rpx;
    }
     &>p:nth-child(2){
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        
    }
     &>p:nth-child(3){
        width: 100%;
        span:nth-child(1){
            color: red;
            font-size:45rpx;
        }
        span:nth-child(2){
            color:rgb(180,180,180);
            font-size:27rpx;
            margin:0rpx 40rpx 0rpx 10rpx;
            text-decoration:line-through;
        }
        span:nth-child(3){
            font-size:30rpx;
            color: rgba(180, 180, 180, 0.493);
        }
    }
    &>p:nth-child(4){
        span:nth-child(1){
            font-size:30rpx;
            background: rgb(242,246,250);
            font-size:20rpx;
            padding:20rpx;
            color:rgb(148,158,188);
            border-radius:10rpx;
            box-sizing: border-box;
        }
    }
}
</style>