.toolbar{
    position: fixed;
    top: 30%;
    left: 10px;
}
.praise{
    position: relative;
}
.num{
    position: absolute;
    height: 15px;
    width: 18px;
    background: #FF0064;
    border-radius: 5px;
    left: 23px;
    top: -30px;
    text-align: center;
    line-height: 15px;
}
.num p{
    color: #fff;
}
.cricle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 2rem;
    margin-top: 10px;
}