<template>
 <div class="app">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <MapWord msg="渲染地图"  />
 </div>
  
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import MapWord from './components/mapWorld.vue'
export default {
  name: 'App',
  components: {
    // HelloWorld,
    MapWord
  }
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
}
html,body,#app,.app{
  width: 100%;
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
