.pages{
    width: 100%;
    height: 100%;
    height:2000px;
    display: flex;
    flex-direction: column;
}
.top{
    position: absolute;
    width:86%;
    height:100px;
    background:white;
    padding-left:20px;
    &>h1{
        font-size:33px;
        font-weight: bolder;
    }
}
.content{
    margin-top:130px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>div{
        width: 95%;
        box-shadow:2px 1px 3px 2px rgb(218, 208, 208);
    }
    .Statistics{        
        height:300px;
        background: white;
    }

    .nav{
        padding:0px 2%;
        margin-top:30px;
        height:150px;
        background: white;
        display: flex;
        flex-direction: column;
        &>h1{
            width:96%;
            height:50px;
            line-height: 40px;
            border-bottom:1px solid rgb(188, 252, 252);
        }
        &>p{
            width:96%;
            flex:1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            a{
                color: #000;
                font-size:20px;
            }
            a:hover{
                color: plum;
            }
        }
    } 

    .article{
        margin-top:30px;
        height:600px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>h1{
            margin: 0;
            padding:0px 3%;
            width:100%;
            height:17%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            border-bottom:1px solid #ccc;
            box-sizing: border-box;
        }
        &>.inarticle{
            width: 100%;
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            &>.item{
                width: 33.3%;
                height:50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                box-shadow:1px 1px 1px 0px rgba(218, 208, 208, 0.37);
                box-sizing: border-box;
                img{
                    width: 100%;
                    height: 50%;
                    width:85%;
                    height:70%;
                }
            }
            &>.item:hover{
                width: 33.3%;
                height:50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                box-shadow:3px 3px 3px 5px rgba(218, 208, 208, 0.548);
                box-sizing: border-box;
                img{
                    width: 70%;
                    height:70%;
                }
            }
        }
    }

    .comment{
        margin-top:30px;
        height: 400px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>h1{
            padding:0px 3%;
            width:100%;
            height:20%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            border-bottom:1px solid #ccc;
            box-sizing: border-box;
        }
        &>div{
            width: 100%;
            flex:1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0px 10px;
            box-sizing: border-box;
            .spancss{
                color: #0188fb;
            } 
            .btncses{
                padding:10px;
                margin:0px 5px;
                color:#0188fb ;
            }
        }
    }


} 
