.in{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: #fff;
    input{
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        text-align: center;
    }
}