.main_div{
    width: 320px;
    height: 40px;
    float: left;
}
.main_div span{
    margin-left: 30px;
}
.main_cli{
    width: 100%;
    height: 40px;
    // margin-top: 40px;
    button{
        width: 65px;
        height: 32px;
        padding: 4px 15px;
        float: right;
        margin: 4px;
    }
    .main_sel{
        background: #0188FB;
        color: #fff;
    }
}
.footer_right{
    float: right;
    height: 32px;
    margin-bottom: 10px;
    .footer_right_xinjian{
        width: 82px;
        height: 32px;
        background: #0188FB;
        color: #fff;
        font-size: 15px;
    }
    .footer_right_load{
        height: 34px;
        border: none;
        padding-top: 3px;
        font-size: 18px;
    }
}
.footer_left{
    float: left;
    height: 32px;
    Button{
        margin-left: 8px;
    }
}
.footer_operation>Button{
    color: #0188FB;
    border: none;
    border-right: 1px solid #c1c1c1;
}
.tags{
    background: #0188FB;
    color: #fff;
    width: 60px;
    font-size: 12px;
    text-align: center;
    margin: 2px;
    float: left;
}
.classify{
    background: #52C41A;
    color: #fff;
    width: 60px;
    text-align: center;
}