:global{
    *{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    html,body,#root{
        width: 100%;
        height: 100%;
    }
}
.biaoti{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    span{
        font-size: 20px;
        margin-left: 5px;
        padding-top: 7px;
    }
    img{
        width: 32px;
        height: 32px;
    }
}

.btn{
    width: 85%;
    height: 40px;
    background: #0188FB;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    span{
        width: 40px;
        height: 24px;
        font-size: 16px; }
    svg{
        width: 20px;
        height: 20px;}
}

.wrapcontent{
    width:98%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:70px;
    .footer_wenzi{
        color: #000000A6;}
    .footer_wenzi svg{
        width: 12px;
        height: 12px;}
}

.wrapcontent>.main{
    width: 100%;
    flex: 1;
    overflow-y:auto;
}