<template>
   <!-- 服务端下发的配置 -->
    <ul class="widget">
      <li v-for="item in widgets" :key="item.img" @click="goWebview(item)">
        <img :src="item.img" alt="" mode="widthFix" />
        <span>{{ item.name }}</span>
      </li>
    </ul>
</template>

<script>
export default {
    props: ['widgets'],
    setup(props){
        console.log('props...', props);
    }
}
</script>